@model BoatRentingAppKnorish.Models.RentBoatModel
@{
    ViewData["Title"] = "RentBoat";
}

<h1>Rent Boat</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="RentBoat">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="BoatNumber" class="control-label"></label>
                <input asp-for="BoatNumber" class="form-control" />
                <span asp-validation-for="BoatNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerName" class="control-label"></label>
                <input asp-for="CustomerName" class="form-control" />
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Request for Renting" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <label><strong>@ViewBag.Message</strong></label>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>